/*
 * Copyright (C) 2019 Dmitriy O. 'dussolo' Ussoltsev - All rights reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

.tox.tox-tinymce {
	min-height: 400px;
}

.aligner {
	padding: 0 !important;
}

.marginPanel {
	height: 200px;
	margin-bottom: -75px;
	/*background-color: #B0BEC5;*/
}

.smallPadded {
	padding-left: 15px !important;
	padding-top: 15px !important;
}

.invisible, .flag-dummy {
	visibility: hidden;
}

.wide-text {
	padding: 0 20px;
	line-height: 1.6;
}

.input-monospaced input, .terminal-header, .monospaced {
	font-family: 'Ubuntu Mono', 'Consolas', 'Courier New', monospace !important;
}

.ui.form .field label {
	display: block;
	margin: 0 0 .28571429rem 0;
	color: rgba(0, 0, 0, .87);
	font-size: .92857143em;
	font-weight: 700;
	text-transform: none;
}

.no-padding {
	padding: 0 !important;
}

.ui.segments[class*='bottom attached'] {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

td > .ui.placeholder > .line {
	height: auto !important;
}

@media only screen and (max-width: 767px) {
	.flag-dummy {
		display: none;
	}
}

.ui.attached.menu {
	margin: 0 !important;
}

.ui.segments.attached.both {
	margin-top: 0;
	border-radius: 0;
}

.terminal-header {
	padding: 7px !important;
	text-align: center;
	margin-left: 0 !important;
	width: 100% !important;
}

.ui.inverted.segments, .ui.inverted.segment.no-padding {
	border: none;
}

.ui.colored.active.search.button.dropdown input.search:focus + .text {
	color: rgba(255, 255, 255, 0.45) !important;
}

.terminal-base {
	min-height: 350px !important;
	height: 350px !important;
	border: 1px solid #d4d4d5;
	border-top: 0;
}

.flex-react.flex-col {
	margin: 0 12px;
}

.menu-embedded {
	margin-left: -1px !important;
	width: 100% !important;
}

.no-shadow {
	box-shadow: none !important;
}

.ui.toast:not(.inverted) > .close.button {
	position: absolute;
	top: 13px;
	right: 10px;
}

.ui.toast.inverted > .close.button {
	position: absolute;
	top: 10px;
	right: 10px;
}

.ui.toast {
	min-width: 220px;
	max-width: 550px;
}

.ui.toaster {
	position: fixed;
	bottom: 35px;
	right: 30px;
	z-index: 4000;
}

table.ui td, table.ui th {
	border: none;
}

/*.ui.statistics > .ui.statistic {*/
/*	margin: 0 1.5em 1em;*/
/*}*/

.ui.table .no.items {
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
}


.langsel-container {
	position: fixed;
	z-index: 9000000;
	left: 3vw;
	bottom: 5vh;
}
